<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/AnalogWatch" version="1.0.0" viewmodes="maximized">
    <tizen:application id="upBUNbh9zh.AnalogWatch" package="upBUNbh9zh" required_version="2.1"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>AnalogWatch</name>
</widget>
